header { color: rgba(255, 255, 255, 1); }
header a { color: rgba(255, 255, 255, 1); }
header > .container > h1, header > .container h1 { color: rgba(255, 255, 255, 1); }
header p { color: rgba(255, 255, 255, 1); }
header button, header .button { color: rgba(255, 255, 255, 1); border-color: rgba(255, 255, 255, 1); }